nav {
    background: #323232;
    height: 103px;
}
.nav-container{
    display: flex;
    width: 100%;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.logo img {
    Width: 71px;
    Height: 60px
}

.logo p {

    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 10px;
}

.logo .text {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url('./../../assets/images/Group 44.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler {
    background: none;
}

.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.lang select {
    background: none;
    text-align: center;
    outline: 0;
    border: 0;
    color: white;
}

.lang select option {
    background: #323232;
    color: white;
}

.navbar-nav .nav-item {
    align-items: center;
    display: flex;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.offcanvas-body {
    background: #323232;
}

.offcanvas-body ul li {
    list-style: none;
    margin: 20px 0;
}

.offcanvas-body ul li a {
    text-decoration: none;
    color: white;
}

.navbar-nav {
    gap: 42px;

}

.navbar-nav .dropdown-menu {
    background: #323232;
    right: 0;

}

.navbar-nav .dropdown-menu li a {
    color: white;
    text-align: right;
}

.navbar-nav .dropdown-toggle::after {
    margin-right: 5px;
    margin-bottom: -3px;
}

.search {
    font-size: 20px;
    margin: 0 5px 0 5px;
}

@media (max-width: 992px) {
    nav {
        height: 54px;
        font-size: 10px;
    }

    .logo img {
        Width: 39px;
        Height: 33px
    }

    .logo p {
        font-size: 10px;
        color: white;
        text-align: center;
        line-height: 10px;
        margin: 2px;
    }

    .logo .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .lang{
        display: none;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: url('./../../assets/images/Group 44.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .navbar-toggler {
        background: none;
    }

}

@media (max-width: 782px) {
    select, .line {
        display: none;

    }

    /* .navbar-toggler{
        position: absolute;
        left: 0;
    } */
}

@media (max-width: 385px) {
    .text p {
        font-size: 11px;
    }

}