:root {
    /* ------- colors ------- */
    --primary-color: #3B3F45;
    --secondary-color: #EEEEEE;

    --color-1: #546E94;
    --color-2: #9A2A2F;
    --color-3: #8B6E04;
    /* ---------------------- */

}