.ads{
    width: 86vw;
    margin: auto;
    padding: 0;
}
.ads h2{
    font-weight: bold;
    font-size: 3.514vw;
    margin: 5%;
}
.ads .ads_cards{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}
.ads .ads_cards .ads-card{
    position: relative;
    margin: auto;
}
.ads .ads_cards .ads-card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.ads .ads_cards .ads-card:nth-child(2) {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 8px;
}

.ads .ads_cards .ads-card:nth-child(3) {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 7px;
}
.ads .ads_cards .ads-card .caption{
    position: absolute;
    bottom:  2.123vw ;
    color: white;
    width: 86%;
    right:  2.343vw ;
}
.ads .ads_cards .ads-card:nth-child(2) .caption h3{
    font-size: 18px;
}
.ads .ads_cards .ads-card:nth-child(3)  .caption h3{
    font-size: 18px;
}

@media screen and (max-width: 760px){
    .ads .ads_cards{
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .ads .ads_cards .ads-card:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .ads .ads_cards .ads-card:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 8px;
    }
    .ads .ads_cards .ads-card:nth-child(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 8px;
    }
    .ads .ads_cards .ads-card:nth-child(2) .caption h3{
        font-size: 8px;
    }
    .ads .ads_cards .ads-card:nth-child(3)  .caption h3{
        font-size: 8px;
    }
}
